<div class="carousel-card">
  <div class="carousel-image">
    <img [src]="bestSeller.imageLink" alt="Chicken" />
    <app-add-button
      (addItem)="addToCart($event)"
      (removeItem)="removeFromCart($event)"
    ></app-add-button>
  </div>
  <div class="carousel-card-content">
    <h1 class="fs-300 fw-bold">{{ bestSeller.heading }}</h1>
    <h3 class="fs-200">{{ bestSeller.quantity }}</h3>
    <span class="price">
      <span class="fs-300">₹{{ bestSeller.discountedPrice }}</span>
      <s>₹{{ bestSeller.price }}</s>
      <small class="price-discount">{{ bestSeller.discount }} off</small></span
    >
    <span class="fs-200">Today in <span class="fw-bold">90 min</span></span>
  </div>
</div>
