.carousel-image {
  position: relative;
}

.carousel-image > img {
  min-width: 14rem;
  border-radius: 12px;
}

.carousel-card-content {
  margin-top: 1rem;
}

.carousel-card-content > h1 {
  height: 2.75rem;
}

.price {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin: 1em 0;
}
.price-discount {
  color: var(--clr-light-green);
}

.gray-scale {
  filter: grayscale(100%);
}

.price[stockout="true"] {
  justify-content: center;
  margin-top: 2rem;
}

::ng-deep .wrapper {
  right: 0!important;
  bottom: 0!important;
}