.cities {
  background-color: var(--clr-soft-orange);
  padding: 4rem;
}

.cities-list {
  margin: auto;
  max-width: 67.5rem;
}

.cities-list > h1 {
  margin-bottom: 2em;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

button {
  cursor: pointer;
  padding: 1rem 2rem;
  outline: none;
  border: none;
  background-color: var(--clr-primary);
  border-radius: 24px;
}

@media(max-width: 750px) {
  .cities {
    padding: 2rem;
  }
}