.category-heading {
  background-color: #c9e3ff;
}
.category h1{
  max-width: 67.5rem;
  margin: auto;
  padding: 4rem 8rem 2rem 0;
}

.category-wrapper {
  max-width: 67.5rem;
  margin: auto;
}
.category h2 {
  padding: 2rem 0;
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 3rem;
}

.category-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap:1.5rem;
}

::ng-deep .carousel-card-content {
  position: relative!important;
}
