<div class="contact">
  <div class="contact-details">
    <div class="logo flex-only">
      <img src="../../../assets/logo/licious-logo.svg" alt="Licious" />
      <div class="logo-line"></div>
    </div>
    <div class="social-links">
      <div class="socials flex-col">
        <h2 class="fs-250 fw-bold">EXPERIENCE LICIOUS APP ON MOBILE</h2>
        <div class="app-stores flex-only">
          <a href="#">
            <img
              src="../../../assets/images/app-store-homepage.png"
              alt="Apple App Store"
            />
          </a>
          <a href="#">
            <img
              src="../../../assets/images/playstore-homepage.png"
              alt="Google Play Store"
            />
          </a>
        </div>
        <div class="flex-col">
          <h2 class="fs-250 fw-bold">KEEP IN TOUCH</h2>
          <div class="social-icons flex-only">
            <a href="#">
              <img
                class="icon"
                src="../../../assets/icons/twitter.svg"
                alt="Twitter"
              />
            </a>
            <a href="#">
              <img
                class="icon"
                src="../../../assets/icons/facebook.svg"
                alt="Facebook"
              />
            </a>
            <a href="#">
              <img
                class="icon"
                src="../../../assets/icons/instagram.svg"
                alt="Instagram"
              />
            </a>
          </div>
        </div>
      </div>
      <div class="useful-links">
        <h2 class="fs-250 fw-bold">USEFUL LINKS</h2>
        <ul class="fs-250">
          <a href="#">
            <li>Why Licious?</li>
          </a>
          <a href="#">
            <li>Refer and Earn</li>
          </a>
          <a href="#">
            <li>Licious Cash & Cash+</li>
          </a>
          <a href="#">
            <li>Careers</li>
          </a>
          <a href="#">
            <li>Blog</li>
          </a>
        </ul>
      </div>
      <div class="about-us">
        <h2 class="fs-250 fw-bold">ABOUT US</h2>
        <ul class="fs-250">
          <a href="#">
            <li>Bug Bounty Guidelines</li>
          </a>
          <a href="#">
            <li>T&C</li>
          </a>
          <a href="#">
            <li>FAQ</li>
          </a>
          <a href="#">
            <li>Privacy Policy</li>
          </a>
          <a href="#">
            <li>FSSC 22000 Certification</li>
          </a>
          <a href="#">
            <li>SA8000 Certification</li>
          </a>
          <a href="#">
            <li>Sitemap</li>
          </a>
        </ul>
      </div>
      <div class="contact-us">
        <h2 class="fs-250 fw-bold">CONTACT US</h2>
        <p class="fs-250">
          Call: 1800-4190-786 <br />
          talktous@licious.com <br />
          REGISTERED OFFICE ADDRESS: House of Licious, Zed Pearl, No 12, Domlur
          Layout Bangalore, Karnataka - 560071
        </p>
        <img
          class="icon"
          src="../../../assets/images/3-dsecure.png"
          alt="3d Secure"
        />
        <h2 class="fs-250 fw-bold">HAVE SECURITY CONCERN?</h2>
        <span class="fs-250">Mail us to: security@licious.com</span>
      </div>
    </div>
  </div>
</div>
